
button {
    background-color: blue;
    margin: 15px 15px 15px 0px;
    padding:10px 20px;
    color: white;
    border: 1px solid black;
}

button:hover{
    transform: scale(1.01);
}

.card-image{
    height: 400px;
    width: 400px;
}

input {
    height: 40px;
    width: 250px;
}